

body {
    margin: 0px;
    padding: 0px;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: #f0f3eb;

}


.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

.chat {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    
    
    
}

.new-chat {
    display: flex;
    width: 30vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    
    
}

.btn {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: #A491D2;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
    
}
.profile img {
    width: 50px;
    height: auto;
    border-radius: 50%;  
    

    
}


.chat-msg {
    width: 100%;
    height: 100%;
    text-align: start;
}

.profile {
    margin: 3px;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 0px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: white;
}

.status {
    color: #BEC1BB;
}

.icon {
    display: flex;
    justify-content:space-evenly;
    
    width: 15vw;
    
}


.content-msg {
    margin: 15%;
    display: flex;
    flex-direction: column;
    width: 70vw;
    
    
    
}

.content-msg img { 
    width: 30%;
    border-radius: 0.5rem;
}

.container-img {
    margin: 5rem;
    width: 70vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-text h1 {
    margin: 2rem 0 0 0;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

.container-text p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
}

.container-text p span {
    font-weight: bold;
}

.header-profile {
    background-color: white;
}





